.Tooltip {
    position: relative;
    display: inline-flex;
    &__toggler {
  
      &:hover {
        cursor: pointer;
      }
    }
  
    &__message {
      position: relative;
      background: white;
      border: 1px solid #000;
      padding: 1rem 1rem;
      text-decoration: none;
      z-index: 2000;
      color: black;
      text-align: center;
      width: 100%;
      max-height: fit-content;
      font-size: 0.8rem;
  
      &::after {
        width: 0;
        height: 0;
        border: 6px solid transparent;
        content: '';
        position: absolute;
        z-index: 3000;
      }
  
      &--top {
        bottom: 100%;
        transform: translate(-50%);
        margin-bottom: 12px;
        position: absolute;
        box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  
        &::after {
          border-top-color: #000;
          border-bottom: none;
          bottom: -6px;
          left: 50%;
          margin-bottom: 0;
        }
      }
    }
  
    &-enter {
      opacity: 0;
    }
  
    &-enter-active {
      transition: all 200ms;
      opacity: 1;
      max-height: 30rem;
    }
  
    &-exit {
      opacity: 1;
    }
  
    &-exit-active {
      transition: all 200ms;
      opacity: 0;
    }
  }

