.months {
  width: 30px;
  padding: 10px;
  border: 1px solid #000;
  font-weight: bold;
}

.months-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-top: 100px;
}

.selected {
  background: #069;
  color: #fff;
}

.date-container {
  height: 368px;
  user-select: none;
  width: 800px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 30px 15px 10px 15px;
  position: relative;
  &__close {
    position: absolute;
    text-align: center;
    color: #000;
    cursor: pointer;
    right: 10px;
    top: 15px;
    height: 32px;
    width: 32px;
  }
  &__header {
    &--month {
      width: 50%;
      font-weight: bold;
      font-size: 24px;
      display: inline-block;
    }
    &--year {
      width: 50%;
      font-weight: bold;
      font-size: 24px;
      display: inline-block;
    }
  }
  &__days {
    width: 50%;
    margin-top: 30px;
    &--day {
      display: inline-block;
      padding: 15px;
      margin-right: 5px;
      font-size: 14px;
      text-align: center;
      color: #000;
      box-sizing: border-box;
      margin-top: 5px;
      width: 45px;
      font-weight: bold;
    }

    &--numbers {
      width: 45%;
      display: inline-block;
      &-number {
        display: inline-block;
        padding: 15px;
        margin-right: 5px;
        font-size: 14px;
        text-align: center;
        color: #000;
        box-sizing: border-box;
        cursor: pointer;
        margin-top: 5px;
        width: 45px;
        &:hover {
          background: #575756;
          color: #fff;
        }
      }
    }
  }

  &__months {
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 120px;
    text-align: center;
    &--month {
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      width: 60px;
      padding: 15px;
      &:hover {
        background: #575756;
        color: #fff;
      }
    }
  }
  &__button {
    width: 110px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    position: absolute;
    right: 60px;
    cursor: pointer;
    bottom: 80px;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.selected {
  background: #000;
  color: #fff;
}

//   <div className="date-container">
//       <div style={{padding: '10px', border: '1px solid #000', marginBottom: '10px'}} onClick={handleGoToToday}>Go to today</div>
//       <div>
//         <div
//           onClick={nextYear}
//           style={{
//             width: "30px",
//             display: "inline-block",
//             padding: "10px",
//             border: "1px solid #000"
//           }}
//         >
//           +
//         </div>
//         {year}
//       </div>
//       <div
//         onClick={nextMonth}
//         style={{
//           width: "30px",
//           display: "inline-block",
//           padding: "10px",
//           border: "1px solid #000"
//         }}
//       >
//         +
//       </div>
//       <div
//         style={{
//           width: "30px",
//           display: "inline-block",
//           padding: "10px",
//           border: "1px solid #000"
//         }}
//       >
//         -
//       </div>
//       <div className="months-container">
//         {moment.months().map((e, i) => (
//           <div
//             className={`months ${i === month ? "selected" : ""}`}
//             onClick={() => handleSetMonth(i, e)}
//           >
//             {e.toString().substring(0, 3)}
//           </div>
//         ))}
//       </div>
//       <div className="months-container">
//         {[...Array(moment(month).daysInMonth()).keys()].map((e, i) => {
//           return (
//             <div
//               className={`months ${i === days - 1 ? "selected" : ""}`}
//               onClick={() => handleSetDays(i)}
//             >
//               {e + 1}
//             </div>
//           );
//         })}
//       </div>
//     </div>
