fieldset {
  border: none;
  padding: 0;
}

.radio-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  padding: 7px 15px 0 40px;
}

.radio-container input[type='radio'] {
  display: none;
}

.radio-container .radio-container__circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.radio-container .radio-container__circle:active {
  border: 2px solid #000;
  height: 28px;
  width: 28px;
}
.radio-container input[type='radio']:checked + .radio-container__circle {
  background: #000;
  border: 1px solid #000;
}
.radio-container input[type='radio']:checked + .radio-container__circle:active {
  border: 2px solid #000;
  height: 28px;
  width: 28px;
}
.radio-container input[type='radio']:checked + .radio-container__circle:after {
  content: '';
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar__link {
  color: #fff;
  text-decoration: none;
}
.navbar__icon {
  margin-right: 10px;
  vertical-align: middle;
}
.navbar__text {
  vertical-align: middle;
}
.form-container {
  padding: 0 30px 0 30px;
}
.clearfix {
  clear: both;
}
.description-spoiler {
  font-size: 12px;
  color: #999;
  font-style: italic;
  font-weight: bold;
}

.error {
  border: 1px solid #d91e19 !important;
}
.text-error {
  color: #d91e19 !important;
}
.radio-error {
  color: #7c7c7b;
  font-size: 16px;
}