/* FORM STYLES */

fieldset {
  border: none;
  padding: 0;
}

.disabled {
  color: #a8a8a7 !important;
}

.disabled-border {
  border: 1px solid #a8a8a7 !important;
}

.form-container {
  padding: 0 30px 0 30px;
}
.requestor-container {
  display: flex;
  width: 100%;
  position: relative;
}
.requestor-remove {
  position: absolute;
  right: 70px;
  padding: 10px;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  &:hover{
    color: grey;
  }
}
.requestor-mail {
  position: absolute;
  right: 10px;
  padding: 10px;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  &:hover{
    color: grey;
  }
}
.requestor-comment {
  position: absolute;
  right: 42px;
  top: 3px;
  padding: 10px;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  &:hover{
    color: grey;
  }
}

.requestor-results {
  position: absolute;
  width: 100%;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  top: 45px;
  background: #FFF;
  padding: 15px;
  box-sizing: border-box;
  z-index: 999;
}
.requestor-result {
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.clearfix {
  clear: both;
}
.description {
  font-size: 12px;
  color: #999;
  font-style: italic;
  font-weight: bold;
}

.error {
  border: 1px solid #d91e19 !important;
}
.text-error__value {
  color: #7c7c7b !important;
  font-size: 16px;
}
.text-error {
  color: #d91e19 !important;
  &:active {
    height: 30px !important;
    width: 30px !important;
  }
}

.margin-bottom {
  margin-bottom: 45px;
}

/* RADIO BUTTON STYLES */

.radio-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  user-select: none;
  padding: 7px 15px 0 40px;
}

.radio-container input[type='radio'] {
  display: none;
}

.radio-container .radio-container__circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.radio-container .radio-container__circle:active {
  border: 2px solid #000;
  height: 28px;
  width: 28px;
}
.radio-container input[type='radio']:checked + .radio-container__circle {
  background: #000;
  border: 1px solid #000;
}
.radio-container input[type='radio']:checked + .radio-container__circle:active {
  border: 2px solid #000;
  height: 28px;
  width: 28px;
}
.radio-container input[type='radio']:checked + .radio-container__circle:after {
  content: '';
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* CHECKBOX STYLES */
.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  user-select: none;
  padding: 7px 15px 0 40px;
}

.checkbox-container input[type='checkbox'] {
  display: none;
}

.checkbox-container .checkbox-container__circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
}
.checkbox-container .checkbox-container__circle:active {
  border: 2px solid #000;
  height: 28px;
  width: 28px;
}
.checkbox-container
  input[type='checkbox']:checked
  + .checkbox-container__circle {
  background: #000;
  border: 1px solid #000;
}
.checkbox-container
  input[type='checkbox']:checked
  + .checkbox-container__circle:active {
  border: 2px solid #000;
  height: 28px;
  width: 28px;
}

.checkbox-container
  input[type='checkbox']:checked
  + .checkbox-container__circle:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 3px;
  background: #fff;
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

.checkbox-container
  input[type='checkbox']:checked
  + .checkbox-container__circle:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 3px;
  background: #fff;
  left: 10px;
  top: 13px;
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  transform: rotate(130deg);
}

/* NAVIGATION STYLES */

.navbar__link {
  color: #fff;
  text-decoration: none;
}
.navbar__icon {
  margin-right: 10px;
  vertical-align: middle;
}
.navbar__text {
  vertical-align: middle;
}
